// fonts
@font-face {
    font-family: 'pompei_modern';
    src: url('../fonts/pompei-webfont.woff2') format('woff2'),
        url('../fonts/pompei-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
