@import 'mixins';

.navbar-brand {
    max-width: 75px;
}
.video-wrap {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: none;
    video {
        margin: auto;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: visible;
        opacity: 1;
        width: auto;
        height: 702px;
    }
}

.single-team {
    img {
        filter: grayscale(1);
    }
    &__list {
        padding-inline-start: 16px;
        li {
            list-style-type: circle;
            font-weight: 600;
            margin-bottom: 10px;
        }
        li:nth-child(even) {
            color: red;
        }
    }
}

footer .logo {
    height: 70px;

    @include md {
        min-width: 100px;
    }
}
footer .row {
    display: flex;
    align-items: center;
}
footer .author {
    color: black;
    text-decoration: underline;
}
